# .NET
**/bin/
**/obj/

# Angular / Node.js
**/node_modules/
**/dist/
**/.angular/

# Flutter / Dart
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# Environment and IDE files
.env
.idea/
.vs/
*.user
*.suo

# Operating systems
.DS_Store
Thumbs.db

.work/
.env.*
!.env.example
**/appsettings.Local.json
**/TestResults/
**/playwright-report/
**/test-results/
.local/
